.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container {
  width: 300px;
  border: 2px solid #514949;
  border-radius: 2px;
  padding: 12px;
  margin: 20px;
}
  .card-container img {
  max-width: 100%;
  border-radius: 4px;
}
  .card-container h2 {
  font-size: 26px;
  font-family: Arial;
  text-align: center;
  margin-top: 5px;
}
  .card-container p {
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  margin-top: 20px;
  text-align: center;
}
