.card-container {
    width: 300px;
    border: 2px solid #514949;
    border-radius: 2px;
    padding: 12px;
    margin: 20px;
  }
    .card-container img {
    max-width: 100%;
    border-radius: 4px;
  }
    .card-container h2 {
    font-size: 26px;
    font-family: Arial;
    text-align: center;
    margin-top: 5px;
  }
    .card-container p {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    margin-top: 20px;
    text-align: center;
  }
  